# Error Doc
ErrorDocument 404 /assests/errors/404_not_found.html
ErrorDocument 403 /assests/errors/403_forbidden.html

# Allows ModRewrite to works
OPtions FollowSymLinks

#Rewrite url - remove file extension
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
